@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">My Home Page</h1>
    <br />
    <p>
        Current date: @DateTime.Now 
    </p>
    <p>This is an example web application created using ASP.NET CORE MVC Web App.</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
